*.mkv
*.mid
*.png
!icon*.png
!web/public/images/*.png
*.jpg
*.fgt
server/transcription/output/*
server/tts/coqui/*
output/*
server/tts/ljspeech
server/tts/Real-Time-Voice-Cloning
server/tts/Models
server/tts/*

__pycache__/*
analyze/__pycache__/*
analyze/Torch/*
data/*

rss/data/*
web/public/rss/data/*

web/public/package-lock.json
web/public/package.json

web/public/models/*
*/node_modules/*

extensions/vscode/ayudarse/node_modules/*
extensions/vscode/helloworld/node_modules/*
extensions/vscode/codetutor/node_modules/*

server/mcp/mcpiano/.git/*
server/mcp/mcpiano/.vscode/*

server/blockchain/mydb/*
mydb/*
