Flask==3.0.0
gunicorn==20.1.0
Werkzeug==3.0.1
moviepy==1.0.3
pytube==15.0.0
triton>=2.0.0
torch==2.1.2
openai-whisper
langchain==0.1.10
fastembed
chromadb
BeautifulSoup4
langchainhub
pypdf
chainlit
moviepy
pydub
speechrecognition
pytube
flask_cors
pandas
oauth2client
langchain-community
